@media screen and (max-width: 600px) {
    .dog {
        position: absolute;
        right: calc(100%/6.333);
        top: calc(100%/2);
        z-index: 2;
        transition: 0.35s ease-in-out;
    }
    .dog-close {
        display: none;
        top: calc(100%/7);
    }
    .dog img {
        width: 200px;
        height: 100px;
    }
    .quiz {
        width: 500px;
    }
    .quiz__title {
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 12px;
    }
    .quiz__question {
        font-size: 16px;
    }
    .quiz__answers {
        font-size: 14px;
    }
    .quiz__btn {
        margin: 20px auto 10px;
        font-weight: 600;
    }
    .quiz__progress-wrap {
        margin-bottom: 30px;
    }
    .quiz__result-info {
        font-size: 20px;
    }
    #valid-answers,
    #result__total-questions {
        font-size: 35px;
    }
    #pica {
        opacity: 0.3;
    }
    .quiz__result {
        margin-top: -150px;
    }
}

@media screen and (max-width: 520px) {
    .quiz {
        width: 400px;
    }
    .quiz__result {
        margin-top: -160px;
    }
    .quiz__progress-wrap {
        margin-bottom: 20px;
    }
    .quiz__title {
        font-size: 19px;
        font-weight: 400;
        letter-spacing: 0;
        margin-bottom: 12px;
    }
    .quiz__question {
        font-size: 16px;
    }
    .quiz__answers {
        font-size: 14px;
    }
    .quiz__btn {
        margin: 20px auto 10px;
        font-weight: 600;
    }
}

@media screen and (max-width: 410px) {
    .dog {
        position: absolute;
        right: calc(100%/6.333);
        top: calc(100%/2);
        z-index: 2;
        transition: 0.35s ease-in-out;
    }
    .dog-close {
        display: none;
        top: calc(100%/7);
    }
    .dog img {
        width: 200px;
        height: 100px;
    }
    .quiz {
        width: 300px;
        padding: 10px;
    }
    .quiz__progress-wrap {
        margin-bottom: 15px;
    }
    .quiz__result {
        margin-top: -180px;
    }
    .quiz__title {
        font-size: 17px;
        margin-bottom: 10px;
        margin-left: 15px;
    }
    .quiz__question {
        font-size: 15px;
        margin-bottom: 8px;
    }
    .quiz__answers {
        font-size: 14px;
    }
    .quiz__btn {
        font-size: 14px;
        margin: 15px auto 0;
        padding: 6px 10px;
    }
    .quiz__result-info {
        font-size: 15px;
    }
    #valid-answers,
    #result__total-questions {
        font-size: 25px;
    }
    .music img {
        right: 5%;
        bottom: 93%;
        width: 25px;
        height: 27px;
    }
}


/* @media screen and (min-width: 600px) and (max-width: 1700px) {
    .quiz {
        width: 85%;
        height: 450px;
        min-height: 0;
    }
    .quiz__title {
        font-size: 20px;
        letter-spacing: 1px;
        margin-bottom: 5px;
    }
    .quiz__btn {
        margin: 10px auto 5px;
        font-weight: 600;
        padding: 10px;
    }
    .quiz__progress-wrap {
        margin-bottom: 10px;
    }
    .quiz__result-info {
        font-size: 20px;
    }
    #valid-answers,
    #result__total-questions {
        font-size: 25px;
    }
    .quiz__result {
        margin-top: -80px;
    }
} */